Repository devexperts/dx-platform, pull requests merged in 2018-08, with the labels that each got.

#48 Update TypeScript to 3.0.1
  package.json
  packages/lint/package.json
  packages/react-kit/package.json
  packages/react-kit/src/components/Autocomplete/Autocomplete.tsx
  packages/react-kit/src/components/Autocomplete/AutocompleteMenuItem.tsx
  packages/react-kit/src/components/Button/Button.tsx
  packages/react-kit/src/components/ButtonIcon/ButtonIcon.tsx
  packages/react-kit/src/components/Checkbox/Checkbox.tsx
  packages/react-kit/src/components/Control/Control.ts
  packages/react-kit/src/components/DateInput/DateInput.tsx
  packages/react-kit/src/components/Deferred/Deferred.tsx
  packages/react-kit/src/components/Dropdown/Dropdown.tsx
  packages/react-kit/src/components/Expandable/Expandable.tsx
  packages/react-kit/src/components/Expandable/ExpandableHandler.tsx
  packages/react-kit/src/components/Grid/Grid.tsx
  packages/react-kit/src/components/Highlight/Highlight.tsx
  packages/react-kit/src/components/Holdable/Holdable.tsx
  packages/react-kit/src/components/Link/Link.tsx
  packages/react-kit/src/components/List/List.tsx
  packages/react-kit/src/components/LoadingIndication/LoadingIndication.tsx
  packages/react-kit/src/components/LoadingIndicator/LoadingIndicator.tsx
  packages/react-kit/src/components/Menu/Menu.tsx
  packages/react-kit/src/components/NumericStepper/NumericStepper.tsx
  packages/react-kit/src/components/PasswordInput/PasswordInput.tsx
  packages/react-kit/src/components/Popover/Popover.tsx
  packages/react-kit/src/components/Popup/Popup.tsx
  packages/react-kit/src/components/ResizeDetector/ResizeDetector.tsx
  packages/react-kit/src/components/Scrollable/Scrollable.tsx
  packages/react-kit/src/components/Scrollbar/Bar.tsx
  packages/react-kit/src/components/Scrollbar/HorizontalScrollbar.tsx
  packages/react-kit/src/components/Scrollbar/VerticalScrollbar.tsx
  packages/react-kit/src/components/Selectbox/Selectbox.page.tsx
  packages/react-kit/src/components/Selectbox/Selectbox.tsx
  packages/react-kit/src/components/Selectbox/SelectboxAnchor.tsx
  packages/react-kit/src/components/SteppableInput/SteppableInput.tsx
  packages/react-kit/src/components/Table/Table.tsx
  packages/react-kit/src/components/TimeInput/TimeInput.tsx
  packages/react-kit/src/components/ToggleButtons/ToggleButtons.tsx
  packages/react-kit/src/components/demo/Demo.tsx
  packages/react-kit/src/components/input/Input.tsx
  packages/react-kit/src/utils/defaults.ts
  packages/react-kit/src/utils/withTheme.ts
  packages/tools/package.json
  packages/utils/package.json
  packages/utils/src/object/object.ts
  yarn.lock
Labels: breaking change, infrastructure, package: react-kit, package: tools, package: utils

#49 Implement render remote data
  packages/react-kit/src/components/render-remote-data/demo/render-remote-data.page.tsx
  packages/react-kit/src/components/render-remote-data/get-render-remote-data.ts
  packages/react-kit/src/components/render-remote-data/render-remote-data.component.tsx
Labels: feature, hot, package: react-kit

#50 update with-rx, rxjs in react-kit
  packages/react-kit/package.json
  packages/react-kit/src/utils/with-rx.ts
  yarn.lock
Labels: breaking change, feature, hot, package: react-kit

#53 feat(utils): add support for booleans in memoize and add overloadings
  packages/utils/src/function/memoize.ts
Labels: feature, package: utils
